* {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
}

h1, h2, h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.title {
    padding: 50px;
}

.portrait img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.section-info {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.portrait {
    padding: 50px;
    width: 50%;
    margin: auto;
    height: auto;
    align-items: center;
}

.information {
    padding: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


    .information li {
        display: block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

.section-forum {
    margin-top: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.form {
    align-content: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav li {
    float: left;
}

    .nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .nav li a:hover {
            background-color: #111;
        }
