@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Dallin M. Jared";
}

<body>
    <div class="section-info">
        <div class="portrait">
            <img src="~/img/DallinJared.jpeg" />
        </div>
        <div class="information">
            <p>I am really looking forward to learning more about ASP.NET and ReactJS! I really enjoy application development and more technical coding! It will be interesting to learn more about Enterprise Level Application Development. I think it will be incredibly useful in obtaining an Internship and bringing important skills to an Internship!</p>
            <br />
            <h2>Top 3 Job interests</h2>
            <br />
            <ul class="job-list">
                <li class="job-item">Full Stack Web Developer</li>
                <li class="job-item">Data Analyst</li>
                <li class="job-item">Database Engineer</li>
            </ul>
        </div>
    </div>
</body>

